@tailwind base;
@tailwind components;
@tailwind utilities;

/* .btn {
  background: linear-gradient(92.23deg, #4b6cb7, #182848);
  box-shadow: 0px 4.42184px 0.23px rgb(255, 255, 255);
} */

/* .btn:hover {
  background: linear-gradient(92.23deg, #182848, #4b6cb7);
} */

.gradient,
.active {
  background-color: #4b6cb7;
}
.icon-linkedin {
  color: #ffffff;
}

.icon-github {
  color: #ffffff;
}

.icon-youtube {
  color: #ffffff;
}

/* Hover styles */
.icon-linkedin:hover {
  color: #0a66c2;
}

.icon-github:hover {
  color: #872ded;
}

.icon-youtube:hover {
  color: #e00b0b;
}

.active {
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
}

@layer base {
  body {
    @apply font-secondary text-lg leading-8 text-white;
  }
  .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-primary font-semibold text-[36px] mb-6 leading-[46px];
  }
  .btn {
    @apply rounded-full font-primary text-white font-medium border border-white border-2 transition-colors duration-200 bg-transparent;
    font-weight: 700 !important;
  }

  .btn:hover {
    @apply bg-white text-black;
  }

  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }

  .btn-lg {
    @apply h-[56px] px-10 text-base font-semibold;
  }

  .btn-link {
    @apply text-base;
  }
  .text-gradient {
    @apply text-white bg-clip-text font-bold font-primary transition-colors duration-200 hover:text-[#157DEC];
  }
  .section {
    @apply py-8 lg:py-24 lg:h-screen flex items-center;
  }
}
